<swiper
    [slidesPerView]="3"
    [spaceBetween]="50"
    (swiper)="onSwiper($event)"
    (slideChange)="onSlideChange()"
    [autoplay]="{delay: 2500,disableOnInteraction: false}"
    [pagination]="{ clickable: true }"
    [scrollbar]="{ draggable: true }"
      class="mt-5"
    >
      <ng-template swiperSlide *ngFor="slide of slides">
        <div class="card" >
          <img src="https://avatars.githubusercontent.com/u/7414771?s=460&u=0aafba4f249ef3f06087354f7d3000307dfb5405&v=4" class="card-img-top" alt="...">
          <div class="card-body m-0 p-0 " style="background-color: rgba(181, 117, 241, 0.719);" >
            <p class="text-center" >Angular</p>
          </div>
        </div>
      </ng-template>

    </swiper>

