<section class="login-content">
  <div class="login-content__main">
    <form class="form__group" [formGroup]="forgotForm" (ngSubmit)="onReset()">
      <div class="card mt-5">
        <div class="card-body">
          <h3 class="card-title text-center">Por favor ingrese su Email</h3>
          <div class="form">

            <input type="email" class="input" formControlName="userEmail" required />
          </div>
          <div class="form text-center">
          </div>
          <button type="submit" class="button-primary-lg ">
            Reset Password
          </button>




        </div>
      </div>
    </form>
  </div>
  <div class="login-content__advertisements"></div>
</section>
