.login-content{
  width: 100vw;
  min-height: 100vh;
  background-color: white;
  display: grid;
  grid-template-columns: 380px 3fr;
  position: relative;
}

.login-content__main{
  padding: 40px;
}

.login-content__advertisements{
  background-color: var(--color-primary-violet);
  background-image: url("/assets/images/bgReLo.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
