<div class="container-fluid ">

  <div class="row mt-5">

    <div class="col-lg-3">


      <div class="list-group mt-5">
        <div class="list-group-item">
          <div class="row">
            <div class="col-8">
              Comunidades
            </div>
            <div class="col-4">
              <span><a href="#" style="font-size: 15px;" >Ver más</a></span>
            </div>
          </div>
      </div>
        <div class="list-group-item">
            <div class="row">
              <div class="col-3">
                <img src="assets\images\iconos\profile.png" class="icono-user" alt="">
              </div>
              <div class="col-9">
                <h6>Comunidad de programadores</h6>
              </div>
            </div>
        </div>
        <div class="list-group-item">
          <div class="row">
            <div class="col-3">
              <img src="assets\images\iconos\teacher.png" class="icono-user" alt="">
            </div>
            <div class="col-9">
              <h6>Comunidad de programadores</h6>
            </div>
          </div>
      </div>
      <div class="list-group-item">
        <div class="row">
          <div class="col-3">
            <img src="assets\images\iconos\user.png" class="icono-user" alt="">
          </div>
          <div class="col-9">
            <h6>Comunidad de programadores</h6>
          </div>
        </div>
    </div>

      </div>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-6">

      <div class="row">
        <div class="col-lg-12">
          <app-cards></app-cards>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-lg-12">
          <h3>Sponsors</h3>
        </div>
        <div class="col-lg-12">
          <app-sponsors></app-sponsors>
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-6 -->

    <div class="col-lg-3">


      <div class="list-group mt-5">
        <div class="list-group-item">
          <div class="row">
            <div class="col-8">
              Comunidades
            </div>
            <div class="col-4">
              <span><a href="#" style="font-size: 15px;" >Ver más</a></span>
            </div>
          </div>
      </div>
        <div class="list-group-item">
            <div class="row">
              <div class="col-3">
                <img src="assets\images\iconos\profile.png" class="icono-user" alt="">
              </div>
              <div class="col-9">
                <h6>Comunidad de programadores</h6>
              </div>
            </div>
        </div>
        <div class="list-group-item">
          <div class="row">
            <div class="col-3">
              <img src="assets\images\iconos\teacher.png" class="icono-user" alt="">
            </div>
            <div class="col-9">
              <h6>Comunidad de programadores</h6>
            </div>
          </div>
      </div>
      <div class="list-group-item">
        <div class="row">
          <div class="col-3">
            <img src="assets\images\iconos\user.png" class="icono-user" alt="">
          </div>
          <div class="col-9">
            <h6>Comunidad de programadores</h6>
          </div>
        </div>
    </div>

      </div>

    </div>
    <!-- /.col-lg-3 -->

  </div>
  <!-- /.row -->

</div>


