<div class="row">
    <div class="col-lg-3">
        <div class="countdown-container">
            <div class="number">
                {{currenTime.days}}
            </div>
            <div class="concept">
                Días
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="countdown-container">
            <div class="number">
                {{currenTime.hours}}
            </div>
            <div class="concept">
                Horas
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="countdown-container">
            <div class="number">
                {{currenTime.minutes}}
            </div>
            <div class="concept">
                Minutos
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="countdown-container">
            <div class="number">
            {{currenTime.seconds}}
            </div>
            <div class="concept ">
                Segundos
            </div>
        </div>
    </div>
</div>
