.icono-user{
  border-radius: 10px;
  width: 50px;
  padding: 0%;
  margin: 0%;
}
.card-link{
  font-size: 12px;
  padding: 0%;
  margin: 0%;
}

.user-skill{
  color:gray;
  font-size: 0.8rem;
}
.col-lg-6{
width: 1200px;
margin: 20px;
}
.login-content{
width: 800px;
background-color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  
}

.login-content__main{
  padding: 40px;
}

.login-content__advertisements{
  background-color: var(--color-primary-violet);
  background-image: url("/assets/images/bgReLo.svg");
  background-repeat: no-repeat;
  background-size: cover;
}


.login-content__titles{
  margin: 30px 0 15px 0;
}

.login-content__titles h2{
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #2D245F;
}

.login-content__titles p{
  margin-top: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  color: #AAA9B1;
  max-width: 190px;
}

.register{

  text-align: center;
  font-weight: 500;
  font-size: .8rem;
  line-height: 13px;

  color: grey;
  margin: 15px 0;
}
.error-login{

color: red;
font-size: .8rem;
margin: 10px 0;
}
.line{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

}
.userMenu{
display: flex;
justify-content: center;
align-items: center;

}
.user img{
border-radius: 50%;

}

.user{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.user p{

font-size: 12px;
color:gray;
}
.row{
margin-top: 10px;

}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .login-content{
      grid-template-columns: 100vw;
      justify-content: center;

  }

  .login-content__main{
      background-color: white;
      display: flex;
      flex-direction: column;


  }
  .login-content__advertisements{
      display: none;
  }

  .login-content__main{
      padding: 40px;
  }
}