<section class="login-content">
  <div class="login-content__main">
    <div class="login-content__logo">
      <img src="./../../../assets/images/logo.svg" alt="" srcset="" />
    </div>

    <div class="login-content__titles">
      <h2>Registrar</h2>
    </div>

    <form class="form" [formGroup]="registerForm" (ngSubmit)="onRegister()">

      <div class="form__group">
        <label for="nick">Nick Name</label>
        <input type="text" formControlName="nickName" placeholder="Ingresa tu Nick Name" />
        <p class="form__error" *ngIf="nickName.invalid && (nickName.dirty || nickName.touched)">
          {{ getErrorMessage("nickName") }}
        </p>
      </div>
      <div class="form__group">
        <label for="nombre">Nombre</label>
        <input type="text" formControlName="name" placeholder="Ingresa tu nombre" />
        <p class="form__error" *ngIf="name.invalid && (name.dirty || name.touched)">
          {{ getErrorMessage("name") }}
        </p>
      </div>
      <div class="form__group">
        <label for="email">Email</label>
        <input type="email" formControlName="email" placeholder="Ingresa tu email" />
        <p class="form__error" *ngIf="email.invalid && (email.dirty || email.touched)">
          {{ getErrorMessage("email") }}
        </p>
      </div>
      <div class="form__group">
        <label for="password">Contraseña</label>
        <input type="password" formControlName="password" placeholder="Ingrese contrasena" />
        <span class="form__error" *ngIf="password.invalid && (password.dirty || password.touched)">
          {{ getErrorMessage("password") }}</span>
      </div>
      <div class="form__group">
        <label for="passwordConfirmacion">Confirmar Contraseña</label>
        <input type="password" formControlName="passwordConfirmacion" placeholder="Confirma tu contraseña" />
        <span class="form__error"
          *ngIf="passwordConfirmacion.invalid && (passwordConfirmacion.dirty || passwordConfirmacion.touched)">
          {{ getErrorMessage("passwordConfirmacion") }}</span>
      </div>
      <div class="form__group">
        <label for="whatsapp">WhatsApp</label>
        <input type="number" id="whatsapp" formControlName="whatsapp" placeholder="Ingresa tu whatsapp" />
        <span class="form__error" *ngIf="whatsapp.invalid && (whatsapp.dirty || whatsapp.touched)">
          {{ getErrorMessage("whatsapp") }}</span>
      </div>

      <div class="form__group">
        <label for="whatsapp">Discord</label>
        <input type="text" id="whatsapp" formControlName="discordUser" placeholder="Ingresa usuario discord" />
        <span class="form__error" *ngIf="discordUser.invalid && (discordUser.dirty || discordUser.touched)">
          {{ getErrorMessage("discordUser") }}</span>
      </div>
      <div>
        <button type="submit" class="button-primary-lg" [disabled]="!registerForm.valid">Register</button>
      </div>
    </form>

    <p class="login" >
      Ya tienes una cuenta ? <a  [routerLink]="['/login']"> Iniciar Sesión </a>
    </p>

   
  </div>

  <div class="login-content__advertisements"></div>
</section>