<nav class="navbar navbar-expand-lg navbar-light  bg-light  fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="./../../../assets/images/logo.svg" alt="" srcset=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item " [ngClass]="{'active': item.active }" *ngFor="let item of config.items ; let i = index" >
          <a class="nav-link" href="#" [routerLink]="[item.link]">{{item.name}}
            <span class="sr-only">(current)</span>
          </a>
        </li>

      </ul>


    </div>
  </div>
<div class="userMenu">
<div *ngIf="userNav" class="user">
  <img src="{{user.photoURL}}" alt="">
  <p>{{user.displayName}}</p>
</div>



</div>
<div *ngIf="userNav" class="notify">
  <img src="./../../../../assets/images/iconos/notify.png" width="25" height="25" />

</div>
</nav>


