.userMenu{
position: absolute;
top: 8px;
right: 10px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}

.user{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.user img{
width: 40px;
height: 40px;
border-radius: 60%;
}
.user p{

font-size: 12px;
color:gray;
}

.notify{
position: absolute;
top: 5px;
right: 20px;
z-index: 1000;

}